.barsCheck{
    display: none;
}

.hamburger{
    position: absolute;
    left: -576px;
}

.barsCheck:checked + .hamburger{
    top: 30px;
    left: 0px;
    background-color: white;
}

.date{
    display: none;
}

@media screen and (min-width:576px){
    .bar{
        display: none;
    }

    .hamburger{
        top: 0px;
        left: 0px;
    }

    .footer{
        position: relative;
    }

    .date{
        position: absolute;
        display: block;
        writing-mode: vertical-rl;
        top: 0px;
        right: 0px;
    }

    .year{
        position: relative;
        left: 86%;
        top: 20px;
    }
}

.item{
    background-image: url(https://picsum.photos/id/66/400/400);
    height: 300px;
}

.item_text{
    writing-mode: vertical-lr;
}

td:hover{
    background-color:rgba(0, 117, 0, .4);
}
