.barsCheck{
    display: none;
}

.hamburger{
    position: absolute;
    left: -500px;
}

.barsCheck:checked + .hamburger{
    top: 30px;
    left: 0px;
    background-color: white;
}

.all{
    background-color:rgba(0, 117, 0, .4);
}

.item{
    background-image: url(https://picsum.photos/id/66/400/400);
    height: 300px;
}

.item_text{
    writing-mode: vertical-lr;
}